.users{
    max-width: 28rem;
    width: 90%;
    background: white;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}